<mat-card>
  <section>
    <div class="example-label">Calculator</div>
    <div class="example-button-row">
      <button mat-button>Add Numbers by seleting digit and hitting =</button>
      <button mat-button color="primary" (click)="add_number(1)">1</button>
      <button mat-button color="primary" (click)="add_number(2)">2</button>
      <button mat-button color="primary" (click)="add_number(3)">3</button>
      <button mat-button color="primary" (click)="add_number(4)">4</button>
      <button mat-button color="primary" (click)="add_number(5)">5</button>
      <button mat-button color="primary" (click)="add_number(6)">6</button>
      <button mat-button color="primary" (click)="add_number(7)">7</button>
      <button mat-button color="primary" (click)="add_number(8)">8</button>
      <button mat-button color="primary" (click)="add_number(9)">9</button>
      <button mat-button color="primary" (click)="add()">+</button>
      <button mat-button color="primary" (click)="clear()">clear</button>
      <button mat-button color="primary" (click)="solve()">=</button>
    </div>
  </section>
  
</mat-card>
<mat-card>{{calculation}}</mat-card>

<mat-card>{{message}}</mat-card>

<mat-card>Result = {{total}}</mat-card>


<router-outlet></router-outlet>
